@{
    View.Title = "Home Page";
}

    @ScriptDependencyExtension.ScriptHelper.RequiresScripts("Microsoft-Mvc-Validation", "jQuery", "jQuery-validate-unobtrusive");

<h2>@View.Message</h2>
<p class="intro">
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
